@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/* My Color */
$color-dark-light: #B8B8B8;
$color-dark: darken($color-dark-light, 30%);
$color-dark-extra: darken($color-dark-light, 50%);
$color-light: #fff;
$color-button: rgb(17, 118, 158);
$color-background: #EFF4FB;
/* Color Change */
$color-primary: #212B4A;
$color-danger: rgb(143, 5, 28);
$color-orange: rgb(160, 64, 0);

// :export {
//   primary: $color-primary;
//   danger: $color-danger;
//   orange: $color-orange;
// }
/* My Size */
$border-radius: 5px;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

ul {
  list-style-type: none;
}

a {
  color: $color-light;
  text-decoration: none;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-background;
  opacity: 0;
  transition: all 1000ms cubic-bezier(.65,.34,.32,.92);
  z-index: 1000;
  will-change: transform, opacity;
  transform-origin: center 25%;
  overflow: hidden;
}

.cover__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-background;
  pointer-events: none;
  // backdrop-filter: blur(5px);
  opacity: 0;
  z-index: 10000;
  transition: opacity 900ms;
}

main {
  width: 100%;
  height: calc(100% - 129px);
  padding: 15px 27px;
  opacity: 0;
  transition: opacity 1000ms;
}

.grid {
  display: grid; 
  grid-template-columns: repeat(3,1fr); 
  grid-template-rows: repeat(3,1fr); 
  grid-template-areas: 
    "form chart ."
    ". . ."; 
    @media (max-width: 768px) {
      grid-template-columns: 1fr; 
      grid-template-rows: repeat(2,220px); 
      grid-template-areas: 
        "form"
        "chart"; 
    }

    .grid__content {
      justify-self: stretch;
      align-self: center;
    }

    .grid__content-form {
      grid-area: form;
    }

    .grid__content-chart {
      grid-area: chart;
      padding: 15px;
    }
}

.grid__modal {
  position: relative;
  border-radius: 110% / 15%;

  &::before {
    content: "";
    position: absolute;
    top: 6%;
    right: -4%;
    bottom: 6%;
    left: -4%;
    background-color: $color-light;
    border-radius: 5% / 53%;
    z-index: -1;
  }
}

.color-danger {
  background-color: $color-danger;
} 
.color-primary {
  background-color: $color-primary;
} 
.color-orange {
  background-color: $color-orange;
}

#percentSalary, #variation {
  background-color: $color-light;
  display: none;
  padding: 1rem;
  transition: opacity 1000ms;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  max-height: 129px;
  background-color: $color-light;
  transition: all 1000ms;
  @media (max-width: 768px) {
    height: 129px;
  }

  .hamburger {
    position: absolute;
    top: 30px;
    left: 30px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    
    > span {
      position: absolute;
      width: 100%;
      left: 0;
      height: 1px;
      background-color: $color-dark-extra;
      border-radius: 10px;
      transform-origin: center left;
      transition: transform 1000ms;
      &:nth-child(1) {
        transform: scaleX(1);
        top: 25%;
        animation: 1000ms 4 dance1;
        animation-direction: alternate-reverse;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.9,.02,.49,.77);
        animation-delay: calc(2000ms + (1300ms * 4));
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) scaleX(0.66);
        animation: 1000ms 4 dance2;
        animation-direction: alternate-reverse;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.9,.02,.49,.77);
        animation-delay: calc(2000ms + (1300ms * 4.5));
      }
      &:nth-child(3) {
        transform: scaleX(0.33);
        bottom: 25%;
        animation: 1000ms 4 dance3;
        animation-direction: alternate-reverse;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.9,.02,.49,.77);
        animation-delay: calc(2000ms + (1300ms * 5));
      }

      @keyframes dance1 {
        from {
          transform: scaleX(0);
        }
        to {
          transform: scaleX(1);
        }
      }
      @keyframes dance2 {
        from {
          transform: translateY(-50%) scaleX(0);
        }
        to {
          transform: translateY(-50%) scaleX(0.66);
        }
      }
      @keyframes dance3 {
        from {
          transform: scaleX(0);
        }
        to {
          transform: scaleX(0.33);
        }
      }
    }
    &:hover {
      > span {
        &:nth-child(1) {
          transform: scaleX(1);
        }
        &:nth-child(2) {
          transform: translateY(-50%) scaleX(1);
        }
        &:nth-child(3) {
          transform: scaleX(1);
        }
      }
    }
  }

  .title {
    overflow: hidden;
    h1 {
      font-size: clamp(1.913rem, calc( 12px + 2.475vw ), 2.587rem);
      font-family: 'Dela Gothic One', cursive;
      font-weight: 100;
      color: $color-dark-extra;
      margin: 0;
      transform: translate3d(0, 100%, 0) rotate(10deg);
      transition: transform 1500ms;
    }
  }
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 10;
    opacity: 0;
    overflow: hidden;
    transition: all 1000ms;

    &__bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -2;
      clip-path: ellipse(0% 0% at 100% 100%);
      transition: clip-path 10ms;
      transition-delay: 800ms;
      &-active {
        clip-path: ellipse(150% 153% at 100% 100%);
        transition: clip-path 800ms cubic-bezier(.8,.41,.8,.41);
        z-index: -1;
      }
      &-primary {
        background: $color-primary;
      }
      &-danger {
        background: $color-danger;
      }
      &-orange {
        background: $color-orange;
      }
    }

    .cover__nav {
      position: absolute;
      width: 100%;
      height: 15px;
      background-color: #e91e63;
      border-radius: 10px;
      margin: 0;
      padding: 12.5px;
      transform: translate(-15px ,calc((100%) * 0));
      transition: transform 1000ms cubic-bezier(.98,.01,.36,1);
      z-index: -1;
    }

    .wrap__close {
      margin: 5px 0 0 15px;
      color: $color-dark-light;
      height: 10%;

      .myName {
        position: absolute;
        top: 5px;
        right: 10px;
        opacity: 0.3;
        font-style: italic;
        a {
          display: inline-block;
          padding: 5px;
        }
      }
      
      .navigation__close {
        position: relative;
        width: 150px;
        height: 100%;
        border: none;
        background-color: transparent;
        font-size: 15px;
        color: $color-dark;
        cursor: pointer;
        opacity: 0;
        // transform: translateX(-10px);
        transition: all 1000ms ease-in;

        .cross {
          position: absolute;
          top: 50%;
          left: 5px;
          display: inline-block;
          width: 12px;
          height: 15px;
          margin: 0;
          transform: translateY(-50%);
          &::before, &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $color-light;
          }
          &::after {
            top: 0;
            left: 0;
            transform: translateY(7px) rotateZ(45deg);
          }
          &::before {
            bottom: 0;
            right: 0;
            transform: translateY(-7px) rotateZ(-45deg);
          }
        }
        span {
          position: absolute;
          top: 50%;
          left: 40px;
          display: inline-block;
          font-size: 12px;
          color:$color-light;
          transform: translateY(-50%);
          white-space: nowrap;
        }
      }
    }

    h2 {
      text-align: center;
    }

    nav {
      position: relative;
      width: 25vw;
      height: auto;
      padding: 15px 0 0 25px;

      @media (max-width: 525px) {
        width: 60vw;
      }

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 110%;
        height: 1px;
        background-color: $color-light;
        transform: translateX(-12px);
        transform-origin: center left;
      }
      
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        color: $color-light;
        opacity: 0;
        transition: opacity 1000ms ease-in;
    
        li {
          cursor: pointer;
          margin: 5px 0;
          white-space: nowrap;
          transition: color 300ms;
        }
      }
    }

  }
.wrap__color {
  position: absolute;
  bottom: 10%;
  height: 20%;
  width: 60%;

  .list__color {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding: 25px;

    .color {
      border: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 5px;
      cursor: pointer;
      &:nth-child(1) {
        left: 0;
      }
      &:nth-child(2) {
        left: 20%;
      }
      &:nth-child(3) {
        left: 40%;
      }
    }
    .color-border {
      border: 2px solid #fff!important;
    }
  }
}
  
.wrap__form {
  position: relative;
}

.form {
  height: 100%;
  transition: opacity 1000ms;

  form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
  
    label {
      align-self: flex-start;
      color: $color-dark;
      font-size: 15px;
      font-weight: 700;
      margin: 0 0 15px 0;
    }
  
    input {
      align-self: flex-start;
      width: 100%;
      color: $color-dark;
      margin: 0 0 10px 0;
      padding: 7px;
      border: none;
      border: 1px solid $color-dark-light;
      border-radius: $border-radius;
      &::placeholder {
        margin-left: 5px; 
        color: $color-dark-light;
      }
      &:focus {
        border: 2px solid $color-button;
        border-radius: $border-radius;
      }
      &:focus-visible {
        outline: none;
      }
    }
  
    button {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 2px;
      background: $color-button;
      color: $color-light;
      font-weight: 700;
      border-radius: $border-radius;
      border: none;
      padding: 8px;
      cursor: pointer;
      opacity: 0.95;
      transition: opacity 300ms;
      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Modal */ 
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-light;
  opacity: 0;
  transition: all 300ms ease-in;
  padding: 5px 20px;
  pointer-events: none;
  z-index: 100000;
  
  > p {
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translateY(-50%);
    font-weight: 700;
    > p {
      position: relative;
      text-align: left;
      margin: 10px 0 10px 0;

      span:nth-child(2) {
        position: absolute;
        top: 50%;
        right: 10%;
        font-size: 20px;
        transform: translateY(-50%);
      }
    }
  }

  .close {
    position: absolute;
    top: 2px;
    right: 6px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30%;
      height: 1px;
      background-color: $color-dark;
    }
    &::before {
      transform: translate(-50%,-50%) rotate(45deg)
    }
    &::after {
      transform: translate(-50%,-50%) rotate(-45deg)
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h1 {
    font-size: 15px;
    font-weight: 700;
    color: $color-dark;
    text-align: left;
  }
}

.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: $color-light;
  z-index: 10000;
  pointer-events: none;
  transition: opacity 1300ms;

  .load__letter {
    position: absolute;
    display: flex;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.713rem, calc( 12px + 2.475vw ), 2.587rem);
    font-family: 'Dela Gothic One', cursive;
    padding: 10px;
    
    > span {
      text-transform: uppercase;
      font-weight: 800;
      overflow: hidden;
  
      > span {
        display: block;
        letter-spacing: 6px;
        transform: translateX(105%);
        transition: all 1300ms ease-in-out;
      }
    }
  }
}

.screen__cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-primary;
  color: $color-light;
  z-index: 10000000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms;
  &-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p {
    font-size: 15px;
  }
}

.chart {
  position: relative;
  background-color: $color-light;
  transition: opacity 300ms;
  
  #myChart {
    width: 100%!important;
    height: 100%!important;
  }
}

.animStart {
  animation: 1300ms slidein;
}

.active {
  display: block!important;
  animation: 1000ms slidein;
  transition: opacity 1000ms;
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}